<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To do list</title>
    <link rel = "stylesheet" href = "css/styles.css">
    <div class = "box" id = "heading">
        <h1><%= listTitle %></h1> 
    </div>
    <div class ="box">
        <% for (var i = 0; i < todos.length; i++){%>
            <div class = "item">
                <input type = "checkbox">
                <p><%= todos[i] %></p> 
            </div>
        <%}%>
        <form action = "/" method="POST" class = "items">
            <input type = "text" name = "todo" required placeholder="New Item">
            <button type = "submit" name = "button">+</button>
        </form>
    </div>
         
    
</div> 
</head>
<body>
    
</body>
</html>