<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To do list</title>
    <% if (kindday === "Saturday" || kindday === "Sunday") { %>
        <h1 style = "color: blue">It's a <%= kindday%>.</h1>
    <%} else {%>
        <h1 style = "color: purdple">It's a <%= kindday%>.</h1>
    <%}%>
</head>
<body>
    
</body>
</html>